.layout_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    font-weight: 200;
    text-align: center;
    padding: 2rem 0;
    background-color: #F5F5F5;
    color: #6B6B6B;
    margin-top: auto;
}