.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	margin-bottom: 3rem;
}

.container h1 {
	margin-bottom: 0;
	text-align: center;
}

.container .image {
    position: relative;
	width: 200px;
    height: 200px;
}


@media only screen and (max-width: 449px) {
	.image {
		width: 150px;
		height: 150px;
	}
}
