.profile {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
    align-items: center;
    margin-top: 2rem;
}

.profile h1 {
    margin-bottom: 0;
}

.profile .image {
    position: relative;
    width: 100%;
}